@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@utility flex-items {
  display: flex;
  align-items: center;
}

@utility flex-justify {
  display: flex;
  justify-content: center;
}
